@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Lato:400,700);
*{margin: 0;padding: 0;}
html{overflow-y:scroll;}
li{list-style:none;}
img{max-width: 100%;vertical-align: middle;}
fieldset{border:none;}
legend, hr, .blind {position:absolute; left:-9999px;}
caption{text-indent:-9999px; height:0; overflow:hidden; visibility:hidden;}
img,button,input[type="submit"],input[type="button"],input[type="reset"]{ border:none; vertical-align:middle;}
a{text-decoration:none; color:#101010;}
body, input, textarea, select, button{ color:#101010; font:14px/1.33 lato, Nanum Gothic,'나눔고딕', Malgun Gothic, '맑은고딕', Dotum, '돋움', arial, sans-serif;}
input, select, button {vertical-align:middle;}
input[type="text"], input[type="email"],input[type="url"], input[type="search"],input[type="password"], select, textarea{border:1px solid #c8c8c8;}
address, em{font-style:normal;}
h1, h2, h3, h4, h5, h6, strong{font-size:100%; font-weight:normal;}
.clearFix:after{content:""; display:block;clear:both;}
.clearFix{*zoom:1;}
button, input[type="button"], input[type="submit"], input[type="reset"]{cursor:pointer;}
table{border-collapse:collapse;border-spacing:0;}
th{font-weight: normal;}
textarea{resize:none;vertical-align: middle;padding: 2px;}
*,
*:after,*:before {box-sizing: border-box;}
#wrap{background-color: #d0c6b8;margin: 0 auto;padding: 0 3%;}
#header{height: 50px;background-color: #2d2d2d;padding: 10px 20px;}
#header h1{display: inline-block;width: 10%;}
#header h1 a{display: block;font-size: 16px;color:#ff8a00;font-weight: bold;}
#nav{display: inline-block;vertical-align: middle;float: right;width: 55%;}
#nav .works_txt{display: inline-block;color:#9d978c;font-weight: bold;text-decoration: line-through;}
#nav .works{}
#nav ul{display: inline-block;vertical-align: middle;float: right;}
#nav ul li{float: left;padding-left: 15px;}
#nav ul li:first-child{padding-left: 0;}
#nav ul li a{color:#9d978c;font-size: 12px;text-decoration: underline;}
#container{width: 100%;background-color: #2d2d2d;}
#container .main{position: relative;height: 900px;background: url(../images/bg_main.png)  50% 150px no-repeat;border-bottom: 1px solid red;}
#container .main h2{padding:150px 150px 0;font-size: 42px;color:#cccbca;}
#container .main h2 span{font-weight: bold;font-size: 60px;}
#container .main h3{font-size: 20px;padding: 30px 0 0 170px;color:#cccbca;font-family:Letter Gothic Std;}
#container .main h4{padding-left:170px;color:#cccbca;font-family:Letter Gothic Std;}
#container .main button{position: absolute;bottom: 0;left: 50%;height: 200px;background: url(../images/btn_scroll.png) 0 0 no-repeat;}
#container .main button span{margin-left: -19px;height: 20px;display: inline-block;color:#cccbca;transform: rotate(90deg);-ms-transform: rotate(90deg);-moz-transform:rotate(90deg);-webkit-transform: rotate(90deg);-o-transform: rotate(90deg);}